# 😀 SQL vs Pandas 비교하기 👍

In [18]:
import pandas as pd
import numpy as np

url = "https://raw.github.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv"
tips = pd.read_csv(url)
print(f"✅ 불러온 데이터 상위 5개 데이터 보기")
print(tips.head(5))

✅ 불러온 데이터 상위 5개 데이터 보기
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
print(f"✅ SELECT")
print(tips[["total_bill", "tip", "smoker", "time"]])
# SELECT total_bill, tip, smoker, time
# FROM tips;

✅ SELECT
     total_bill   tip smoker    time
0         16.99  1.01     No  Dinner
1         10.34  1.66     No  Dinner
2         21.01  3.50     No  Dinner
3         23.68  3.31     No  Dinner
4         24.59  3.61     No  Dinner
..          ...   ...    ...     ...
239       29.03  5.92     No  Dinner
240       27.18  2.00    Yes  Dinner
241       22.67  2.00    Yes  Dinner
242       17.82  1.75     No  Dinner
243       18.78  3.00     No  Dinner

[244 rows x 4 columns]

In [20]:
print(f"✅ LIMIT")
print(tips.head(10))
# SELECT *
# FROM tips
# LIMIT 10;

✅ LIMIT
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [21]:
print(f"✅ LIMIT OFFSET")
print(tips.iloc[3:8, :])
# SELECT *
# FROM tips
# LIMIT 5 OFFSET 3;

✅ LIMIT OFFSET
   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4

In [22]:
print(f"✅ UNIQUE")
print(tips.day.unique())
# SELECT DISTINCT day
# FROM tips;

print(tips.day.nunique())
# SELECT COUNT(DISTINCT day)
# FROM tips;

✅ UNIQUE
['Sun' 'Sat' 'Thur' 'Fri']
4

In [23]:
print(f"✅ WHERE")
print(tips[tips.sex ==  "Female"][["tip", "smoker"]][:5])
# SELECT tip, smoker
# FROM tips
# WHERE sex = 'Female'
# LIMIT 5; 

print(tips[(tips["time"] == "Diner") & (tips["tip"] > 5.00)])
# SELECT *
# FROM tips
# WHERE time = 'Dinner' AND tip > 5.00;

print(tips[(tips["size"] >= 5) | (tips["total_bill"] > 45)])
# SELECT *
# FROM tips
# WHERE size >= 5 OR total_bill > 45;

✅ WHERE
     tip smoker
0   1.01     No
4   3.61     No
11  5.00     No
14  3.02     No
16  1.67     No
Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []
     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
125       29.80   4.20  Female     No  Thur   Lunch     6
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
185       20.69   5.00    Male     No   Sun  Dinner     5
187       30.46   2.00    Male    Yes   Sun  Dinner     5
212       48.33   9.00    Male     No   Sat  Dinner     4
216       28.15   3.00    Male    Yes   Sat  Dinner     5

In [24]:
print(f"✅ DIVISION")
tips["tip_rate"] = tips["tip"] / tips["total_bill"]
print(tips["tip_rate"])
# SELECT tip/total_bill AS tip_rate
# FROM tips;

✅ DIVISION
0      0.059447
1      0.160542
2      0.166587
3      0.139780
4      0.146808
         ...
239    0.203927
240    0.073584
241    0.088222
242    0.098204
243    0.159744
Name: tip_rate, Length: 244, dtype: float64

In [25]:
print(f"✅ VALUE COUNTS")
print(tips.day.value_counts())
# SELECT day, COUNT(day) AS 'count'
# FROM tips
# GROUP BY day;

✅ VALUE COUNTS
Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [26]:
print(f"✅ GROUP BY")
print(tips.groupby('sex').count())
# SELECT sex, COUNT(*)
# FROM tips
# GROUP BY sex;

print(tips.groupby("day").agg({"tip": np.mean, "day": np.size}))
# SELECT day, AVG(tip), COUNT(*)
# FROM tips
# GROUP BY day;

# print(tips.groupby(["smoker", "day"].agg({"tips" : [np.size, np.mean]})))
# SELECT smoker, day, COUNT(*), AVG(tip)
# FROM tips
# GROUP BY smoker, day;

✅ GROUP BY
        total_bill  tip  smoker  day  time  size  tip_rate
sex
Female          87   87      87   87    87    87        87
Male           157  157     157  157   157   157       157
           tip  day
day
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76
Thur  2.771452   62

In [27]:
print(f"✅ Null Value")
frame = pd.DataFrame({"col1": ["A", "B", np.NaN, "C", "D"], "col2": ["F", np.NaN, "G", "H", "I"]})
print(frame)
print(frame[frame["col2"].isna()])
# SELECT *
# FROM frame
# WHERE col2 IS NULL;

print(frame[frame["col1"].notna()])
# SELECT *
# FROM frame
# WHERE col1 IS NOT NULL;

✅ Null Value
  col1 col2
0    A    F
1    B  NaN
2  NaN    G
3    C    H
4    D    I
  col1 col2
1    B  NaN
  col1 col2
0    A    F
1    B  NaN
3    C    H
4    D    I

In [28]:
print(f"✅ JOIN")
df1 = pd.DataFrame({"key": ["A", "B", "C", "D"], "value": np.random.randn(4)})
print(df1)
df2 = pd.DataFrame({"key": ["B", "D", "D", "E"], "value": np.random.randn(4)})
print(df2)

✅ JOIN
  key     value
0   A  0.067947
1   B  0.009033
2   C -0.000758
3   D  0.842633
  key     value
0   B  0.357607
1   D -0.467728
2   D -1.565625
3   E -0.911250

In [29]:
print(f"✅ INNER JOIN")
print(pd.merge(df1, df2, on="key"))
# SELECT * 
# FROM df1
# INNER JOIN df2 
# ON df1.key = df2.key;

✅ INNER JOIN
  key   value_x   value_y
0   B  0.009033  0.357607
1   D  0.842633 -0.467728
2   D  0.842633 -1.565625

In [30]:
print(f"✅ LEFT JOIN")
print(pd.merge(df1, df2, on="key", how="left"))
# SELECT * 
# FROM df1
# LEFT OUTER JOIN df2
# ON df1.key= df2.key;

print(f"✅ OUTER JOIN")
print(pd.merge(df1, df2, on="key", how="outer"))
# SELECT * 
# FROM df1
# FULL OUTER JOIN df2
# ON df1.key = df2.key;

✅ LEFT JOIN
  key   value_x   value_y
0   A  0.067947       NaN
1   B  0.009033  0.357607
2   C -0.000758       NaN
3   D  0.842633 -0.467728
4   D  0.842633 -1.565625
✅ OUTER JOIN
  key   value_x   value_y
0   A  0.067947       NaN
1   B  0.009033  0.357607
2   C -0.000758       NaN
3   D  0.842633 -0.467728
4   D  0.842633 -1.565625
5   E       NaN -0.911250

In [31]:
print(f"✅ CONCAT")
df1 = pd.DataFrame({"city": ["Chicago", "San Francisco", "New York City"], "rank": range(1, 4)})
print(df1)
df2 = pd.DataFrame({"city": ["Chicago", "Boston", "Los Angeles"], "rank": [1, 4, 5]})
print(df2)
print(pd.concat([df1, df2]))
# SELECT city, rank
# FROM df1
# UNION ALL
# SELECT city, rank
# FROM df2

print(pd.concat([df1, df2]).drop_duplicates())
# SELECT city, rank
# FROM df1
# UNION
# SELECT city, rank
# FROM df2;

✅ CONCAT
            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
          city  rank
0      Chicago     1
1       Boston     4
2  Los Angeles     5
            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2    Los Angeles     5
            city  rank
0        Chicago     1
1  San Francisco     2
2  New York City     3
1         Boston     4
2    Los Angeles     5